{% extends "counciltemp2.html"%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/cordreg#about">
  <table width="200" class="table table-striped" id="ab">

    <tr>
      <th>Firstname</th>
      <td><input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th>Lastname</th>
      <td><input type="text" name="textfield2" required pattern="[A-Z a-z.]{1,25}"/></td>
    </tr>
    <tr>
      <th>DateOfBirth</th>
      <td><input type="date" name="textfield3" required/></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><input name="radiobutton" type="radio" value="male" checked/>
        male
        <input name="radiobutton" type="radio" value="female" />
        female</td>
    </tr>
    <tr>
      <th>Place</th>
      <td><input type="text" name="textfield5" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th>PostOffice</th>
      <td><input type="text" name="textfield11" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th>Pin</th>
      <td><input type="text" name="textfield4" required pattern="[0-9]{6}"/></td>
    </tr>
    <tr>
      <th>Phone Number </th>
      <td><input type="text" name="textfield6" required pattern="[6789][0-9]{9}"/></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><input type="text" name="textfield7" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/></td>
    </tr>
    <tr>
      <th>Qualifications</th>
       <td><input type="checkbox" name="checkbox" value="SSLC" />
      SSLC
        <input type="checkbox" name="checkbox" value="PLUSTWO" />
      PLUSTWO
      <input type="checkbox" name="checkbox" value="UG" />
      UG
      <input type="checkbox" name="checkbox" value="PG" />
      PG</td>
    </tr>

    <tr>
      <th>Username</th>
      <td><input type="text" name="textfield9" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><input type="password" name="textfield10" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="Submit" value="REGISTER" class="btn btn-primary" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
