<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="/viewcouncillor">manage councillor</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/addnotification2">add notification</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewnotiadmin">edit notification</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/addpackage">add packages</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewpackadmin">edit packages</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/adddonationdt">add donation details</a></th>
    </tr>
     <tr>
      <th scope="row"><a href="/editdonationdt">edit donation details</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/adddonationreport">add donation report</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewdonationreport">edit donation report</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewreport">view report</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewcomplaints">view complaints</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewchangepass">change password</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/">Logout</a></th>
    </tr>

  </table>
</form>
</body>
</html>
