<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" class="table table-striped">
    <tr>
      <td><a href="/managecoord">Manage Coordinators</a></td>
    </tr>
    <tr>
      <td><a href="/addreportcoun1">Add Report</a></td>
    </tr>
    <tr>
      <td><a href="/viewreportcoun">Manage Report</a></td>
    </tr>
    <tr>
      <td><a href="/addcompcounc">Add Complaints</a></td>
    </tr>
    <tr>
      <td><a href="/viewcomplaintcoun">Manage Complaints</a></td>
    </tr>
    <tr>
      <td><a href="/viewservicereq">Add Sevices</a></td>
    </tr>
    <tr>
      <td><a href="/viewallotser">Manage Services</a></td>
    </tr>
    <tr>
      <td><a href="/viewprofilecounc">View Profile</a></td>
    </tr>
    <tr>
      <td><a href="/viewnoticoun">View Notification</a></td>
    </tr>
    <tr>
      <td><a href="/viewreportcouncilor">View Report</a></td>
    </tr>
    <tr>
      <td><a href="/viewcomplaintcoun2">View Complaints</a></td>
    </tr>
    <tr>
      <td><a href="/viewpackcoun">View Packages</a></td>
    </tr>
    <tr>
      <td><a href="/viewtribe">View tribalinformation</a></td>
    </tr>
    <tr>
      <td><a href="/viewchangepasscoun">Change Password</a></td>
    </tr>
    <tr>
      <td><a href="/">Logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
