<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/updatereportexp#about" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" class="table table-striped">
    <tr>
      <td>Tribe Area </td>
      <td><input type="text" name="textfield" value="{{val[3]}}" required/></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><input type="text" name="textfield3" value="{{val[4]}}" required/></td>
    </tr>
    <tr>
      <td>Report</td>
      <td><a href="/changereportexp">
        <input type="text" name="textfield3" value="{{val[5]}}" />
      change report</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="Submit2" value="UPDATE" class="btn btn-primary"/></td>
    </tr>
  </table>
</form>
</body>
</html>
