{% extends "expertise_temp.html" %}
{% block body %}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" class="table table-striped">-->
    <!--<tr>-->
      <!--<td><a href="/addprgmexp">Add Awareness Programs </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/viewprgmexp">Manage Awareness Programs </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/addreportexp">Add Report </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/viewreportexp">Manage Report </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/addcompexp">Add Complaints </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/viewcomplaintexp">Manage Complaints </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/viewprofileexp">View Profile </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/viewproblem">View Tribe Related Problems </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/viewnotiexp">View Notifications </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/viewchangepassexp">Change Password </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/">Logout</a></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
{% endblock %}