{% extends "cordtemp2.html"%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/viewcomplaintcord2#about">
  <div align="center">
  <table width="537" border="1" class="table table-striped">
    <tr>
      <td width="89">SLNO</td>
      <td width="112">Name</td>
      <td width="106">Date</td>
      <td width="93">Complaint</td>
      <td width="30">&nbsp;</td>
    </tr>
     {% for i in range(0,val|length) %}
    <tr>
      <td>{{i+1}}</td>
      <td>{{val[i][0]}} {{val[i][1]}} ( {{val[i][2]}})</td>
      <td>{{val[i][5]}}</td>
      <td>{{val[i][6]}}</td>
      <td><a href="{{url_for('replycord',id=val[i][3])}}#about" class="btn btn-success">reply</a></td>
    </tr>
     {% endfor %}
     
  </table>
  </div>
</form>
</body>
{% endblock %}
