{% extends "shophome.html" %}
{% block body %}
<body>
<p>&nbsp;</p>
<script src="/static/jquery.js"></script>
<form id="form1" name="form1" method="post" action="updatestock#about">
  <table width="200" class="table table-striped" id="ab">
    <tr>
      <th>ProductName</th>
      <td><select name="select" id="select">
<option selected="selected">select</option>

        {% for d in val %}

        <option value="{{d[0]}}">{{d[2]}}</option>

        {% endfor %}
       </select>
      </td>
    </tr>
    <tr>
      <th>CurrentStock</th>
      <td><div id="cs"></div></td>
    </tr>
    <tr>
      <th>Stock</th>
      <td><input type="text" name="textfield" id="txt" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="Submit" value="UPDATE"class="btn btn-primary" /></td>
    </tr>
  </table>
</form>
</body>


<script>

$(document).ready(function(){

    $("select#select").change(function() {

        if ($(this).val() != 'default') {

            var br = $('#select').val();


            $.ajax({
                type: 'POST',
                url: "/stockup",
                data: { pid: br },

                success: function(response) {
                var opt = response


 $('div#cs').empty()
    $('div#cs').append(opt);
                }
            });
        }
        else {
            $('div#cs').empty()
        }
    });
});
</script>
{% endblock %}
