{% extends "admin_temp2.html"%}
{% block body %}


<body>
<form action="updatedonationreport#about" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" class="table table-striped" id="ab">
    <tr>
      <th>Type</th>
      <td><select name="select">
	  <option value="--Select--" {% if val[1]=="--Select--" %}selected{% endif %}>--Select--</option>
	  <option value="cloth" {% if val[1]=="cloth" %}selected{% endif %}>cloth</option>
	  <option value="education material" {% if val[1]=="education material" %}selected{% endif %}>education material</option>
	  <option value="food" {% if val[1]=="food" %}selected{% endif %}>food</option>
	  <option value="medicine" {% if val[1]=="medicine" %}selected{% endif %}>medicine</option>
      </select>      </td>
    </tr>
    <tr>
      <th>Tribearea</th>
      <td><input type="text" name="textfield" value="{{val[2]}}" /></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><textarea name="textarea">{{val[4]}}</textarea></td>
    </tr>
    <tr>
      <th>Report</th>
      <td><a href="/changereport">
        <input type="text" name="textfield3" value="{{val[5]}}"/>
      change report</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="Submit" value="UPDATE" class="btn btn-primary"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
