{% extends "admin_temp2.html"%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/updatemedicine#about">
  <table width="291" class="table table-striped">
    <tr>
      <td width="173">Type</td>
      <td width="102"><select name="select">
	  <option value="--Select--" {% if val[1]=="--Select--" %}selected{% endif %}>--Select--</option>
	  <option value="Tablet" {% if val[1]=="Tablet" %}selected{% endif %}>Tablet</option>
	  <option value="Syrup" {% if val[1]=="Syrup" %}selected{% endif %}>Syrup</option>
      </select>
      </td>
    </tr>
    <tr>
      <td>Medicine Name </td>
      <td><input type="text" name="textfield" value="{{val[2]}}"/></td>
    </tr>
    <tr>
      <td>Dosage</td>
      <td><input type="text" name="textfield2" value="{{val[3]}}"/></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><input type="text" name="textfield3" value="{{val[4]}}"/></td>
    </tr>
    <tr>
      <td>Expiry Date </td>
      <td><input type="text" name="textfield4" value="{{val[5]}}"/></td>
    </tr>
    <tr>
      <td>Donor Name </td>
      <td><input type="text" name="textfield5" value="{{val[6]}}"/></td>
    </tr>
    <tr>
      <td>Phone Number </td>
      <td><input type="text" name="textfield6" value="{{val[7]}}"/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="textfield7" value="{{val[8]}}"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="Submit" value="UPDATE" class="btn btn-primary" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
