{% extends "counciltemp2.html"%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" class="table table-striped" id="ab">
    <tr>
      <th>Firstname</th>
      <td><input type="text" name="textfield" class="form-control" value="{{val[2]}}" readonly/></td>
    </tr>
    <tr>
      <th>Lastname</th>
      <td><input type="text" name="textfield2" class="form-control" value="{{val[3]}}" readonly/></td>
    </tr>
    <tr>
      <th>DateOfBirth</th>
      <td><input type="date" name="textfield3" class="form-control" value="{{val[4]}}" readonly/></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><input name="radiobutton" type="radio"  value="male" {% if val[5]=="male" %}checked {% endif %} readonly/>
        male
        <input name="radiobutton" type="radio" value="female" {% if val[5]=="female" %}checked {% endif %} readonly/>
        female</td>
    </tr>
    <tr>
      <th>Place</th>
      <td><input type="text" name="textfield5" class="form-control" value="{{val[6]}}" readonly/></td>
    </tr>
    <tr>
      <th>PostOffice</th>
      <td><input type="text" name="textfield11" class="form-control"value="{{val[7]}}" readonly/></td>
    </tr>
    <tr>
      <th>Pin</th>
      <td><input type="text" name="textfield4"class="form-control" value="{{val[8]}}" readonly/></td>
    </tr>
    <tr>
      <th>Phone Number </th>
      <td><input type="text" name="textfield6" class="form-control"value="{{val[9]}}" readonly/></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><input type="text" name="textfield7" class="form-control" value="{{val[10]}}"/></td>
    </tr>
    <tr>
      <th>Qualifications</th>
       <td><input type="checkbox" name="checkbox"  value="SSLC" {% if 'SSLC' in val[11] %} checked {% endif %} readonly/>
      SSLC
        <input type="checkbox" name="checkbox" value="PLUSTWO" {% if 'PLUSTWO' in val[11] %} checked {% endif %} readonly/>
      PLUSTWO
      <input type="checkbox" name="checkbox" value="UG" {% if 'UG' in val[11] %} checked {% endif %} readonly/>
      UG
      <input type="checkbox" name="checkbox" value="PG" {% if 'PG' in val[11] %} checked {% endif %} readonly/>
      PG</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
