<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "cordtemp2.html"%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" class="table table-striped">
    <tr>
      <td>SLNO</td>
      <td>Volunteer</td>
      <td>Date</td>
      <td>Tribe Area </td>
      <td>Work Details </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
     {% for i in range(0,val|length) %}
    <tr>
      <td>{{i+1}}</td>
      <td>&nbsp;{{val[i][0]}} {{val[i][1]}}</td>
      <td>&nbsp;{{val[i][5]}}</td>
      <td>&nbsp;{{val[i][6]}}</td>
      <td>&nbsp;{{val[i][7]}}</td>
      <td><a href="{{url_for('editworkcord',id=val[i][2])}}#about" class="btn btn-success">edit</a></td>
      <td><a href="{{url_for('deleworkcord',id=val[i][2])}}#about" class="btn btn-success">delete</a></td>
    </tr>
     {% endfor %}
  </table>
</form>
</body>
{% endblock %}

<!--</html>-->
