{% extends "volunteerhome.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" class="table table-striped">
    <tr>
      <td>SLNO</td>
      <td>Date</td>
      <td>Tribe Area </td>
      <td>Title</td>
      <td>Report</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
       {% for i in range(0,val|length) %}
    <tr>
      <td>{{i+1}}</td>
      <td>{{val[i][2]}}</td>
      <td>&nbsp;{{val[i][3]}}</td>
      <td>&nbsp;{{val[i][4]}}</td>
      <td>&nbsp;{{val[i][5]}}</td>
      <td><a href="{{url_for('editreportvolun',id=val[i][0])}}#about" class="btn btn-success">edit</a></td>
      <td><a href="{{url_for('delereportvolun',id=val[i][0])}}#about" class="btn btn-danger">delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}