{% extends "volunteerhome.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" class="table table-striped">
    <tr>
      <td>SLNO</td>
      <td>Coordinator</td>
      <td>Date</td>
      <td>Tribe Area </td>
      <td>Work Details </td>
    </tr>
     {% for i in range(0,val|length) %}
    <tr>
      <td>{{i+1}}</td>
      <td>{{val[i][0]}} {{val[i][1]}}</td>
      <td>&nbsp;{{val[i][5]}}</td>
      <td>&nbsp;{{val[i][6]}}</td>
      <td>&nbsp;{{val[i][7]}}</td>
    </tr>
     {% endfor %}
  </table>
</form>
</body>
{% endblock %}
