{% extends "admin_temp2.html"%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" class="table table-striped" id="ab">
    <tr>
      <th>hSLNO</th>
      <th>Date</th>
      <th>Notifications</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
       {% for i in range(0,val|length) %}
    <tr>
      <td>{{i+1}}</td>
      <td>&nbsp;&nbsp;{{val[i][1]}}</td>
      <td>&nbsp;&nbsp;{{val[i][2]}}</td>
      <td><a href="{{url_for('editnoti',id=val[i][0])}}#about" class="btn btn-success">edit</a></td>
      <td><a href="{{url_for('delenoti',id=val[i][0])}}#about" class="btn btn-danger">delete</a></td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
{% endblock %}
