{% extends "expertise_temp.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" class="table table-striped">
    <tr>
      <td>SLNO</td>
      <td>Tribe Area </td>
      <td>Problem</td>
      <td>Description</td>
    </tr>
     {% for i in range(0,val|length) %}
    <tr>
      <td>{{i+1}}</td>
      <td>&nbsp;{{val[i][2]}}</td>
      <td>&nbsp;{{val[i][3]}}</td>
      <td>&nbsp;{{val[i][4]}}</td>
    </tr>
     {% endfor %}
  </table>
</form>
</body>
{% endblock %}
