{% extends "admin_temp2.html"%}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
  <table width="413" class="table table-striped" id="ab">
    <tr>
      <th width="96">SLNO</th>
      <th width="17">Package Name </th>
      <th width="17">Description</th>
      <th></th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
       {% for i in range(0,val|length) %}
    <tr>
      <td>&nbsp;{{i+1}}</td>
      <td>&nbsp;{{val[i][1]}}</td>
      <td>&nbsp;{{val[i][2]}}</td>
            <td><a href="{{url_for('allotpkg',id=val[i][0])}}#about" class="btn btn-primary">Allot</a></td>

      <td><a href="{{url_for('editpackage',id=val[i][0])}}#about" class="btn btn-success">edit</a></td>
      <td><a href="{{url_for('delepackage',id=val[i][0])}}#about" class="btn btn-danger">delete</a></td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
{% endblock %}
